@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Kanit&family=Rubik+Moonrocks&family=Rubik+Wet+Paint&display=swap');

*{
    padding:0;
    margin:0;
    border:0;
}

h1 {
font-family: 'Rubik Moonrocks', cursive;
}

h2 {
    font-family: 'Kanit', sans-serif;
}

h3, p{
    font-family: 'Grape Nuts', cursive;
}

/* Page title & tag line */
#pageTitle{
    margin:0 auto;
    text-align: center;
    height:auto;
    width:100%;
    color:rgb(7, 7, 74);
}

#pageTitle h1{
    text-transform:uppercase;
    font-size:5vw;
    /* padding:10px; */
}

#pageTitle h2{
    text-transform:lowercase;
    font-size:3vw;
    /* padding-bottom:10px; */
}

/* Interactive drawing frame in place */
#image-area{
    width:500px;
    height:500px;
    border: 3px solid rgb(7, 7, 74);
    margin:0 auto;
    overflow:hidden;
    background-size: 100%;
}

#doodle img{
    width:100%;
    z-index:1;
}

#calmChaosOverlay img{
    z-index: 3;
    width: 100%;
    position: relative;
    top: -504px;
} 

#natureCivilisationOverlay img{
    z-index: 5;
    width: 100%;
    position: relative;
    top: -1009px;
}

/* Toggle switches */
/* Code originated from https://codepen.io/timtech/pen/ezRamp */
#toggle-switches{
    margin:0 auto;
    text-align:center;
    position:relative;
}

.toggleSwitch{
    padding: 10px 0;
    display: inline-block;
    width: 170px;
    font-family: 'Grape Nuts', cursive;
    font-size: 1.5em;
    color:rgb(7, 7, 74);
}

.left-position,
.neutral-position,
.right-position {
    position: absolute;
    left: -9999px
}

.sliderContainer{
    height: 0.9em;
    width: 3em;
    margin: 2px auto;
    border: 1px solid rgb(7, 7, 74);
    border-radius:34px;
    position: relative;
    padding: 1px;
    display: inline-block;
    background: #B5DAA5
}
  
.label1,
.label2,
.label3 {
    height: 100%;
    width: 100%;
    padding: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.left-position:checked ~ span .label1,
.left-position:checked ~ span .label3,
.neutral-position:checked ~ span .label1,
.neutral-position:checked ~ span .label2,
.right-position:checked ~ span .label2,
.right-position:checked ~ span .label3 {
    position: absolute;
    left: -9999px;
}

.slider-ball {
    width: 1em;
    height: 1em;
    border-radius:50%;
    position: absolute;
    display: inline-block;
    pointer-events: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgb(7, 7, 74);
    -webkit-transition: .7s;
    transition: .7s;
}
  
.neutral-position:checked ~ span .slider-ball {
    -webkit-transform: translateX(1em);
    -ms-transform: translateX(1em);
    transform: translateX(1em);
}
  
.right-position:checked ~ span .slider-ball {
    -webkit-transform: translateX(2em);
    -ms-transform: translateX(2em);
    transform: translateX(2em);
}

/* Submit, Reset & Info button */
#game-area{
    text-align:center;
    width:100%;
}

#submit-button, #reset-button, #info-button{
    font-size:150%;
    text-transform:uppercase;
    font-family: 'Rubik Wet Paint', cursive;
    border-radius:10px;
    padding:10px;
    margin:10px;
    text-align:center;
    background-color:rgb(7, 7, 74);
    color:#B5DAA5;
}

#info-button{
    width:180px;
}

#submit-button, #reset-button{
    width:120px;
}

#submit-button:hover, #reset-button:hover, #info-button:hover{
    background-color:#B5DAA5;
    color:rgb(7, 7, 74);
}

/* Win/lose screen */
#win-message, #lose-message{
    z-index:9999999;
    display:none;
    color:rgb(7, 7, 74);
    text-align:center;
    position:relative;
    top: -1415px;
    padding:0;
    margin:0 auto;
    background-color:white;
}

#win-message h2 {
    font-family:'Grape Nuts', cursive;
    font-size:3.5vw;
} 

#lose-message h2{
    font-family:'Grape Nuts', cursive;
    font-size:7vw;
    text-transform:uppercase;
}

/* Footer styling - taken from my last project & modified slightly. */
footer{
    width:90%;
    height:75px;
    margin:0 auto;
    text-align:center;
}

#social-links{
    padding:10px;
}

#social-links >li{
    color:rgb(7, 7, 74);
    font-size:140%;
    display:inline-block;
    
}   

#social-links i{
    font-size: 140%;
    padding:10px 30px;
    color:rgb(7, 7, 74);
    text-decoration:none;
}

#social-links i:hover{
    color:#B5DAA5;
}

@media screen and (max-width:600px){

    /* Page title & tag line */
    #pageTitle h1{
        font-size:200%;
    }

    #pageTitle h2{
        font-size:100%;
    }
    
    /* image area & overlays */
    #image-area{
        width:300px;
        height:300px;
    }
    
    #calmChaosOverlay img{
        top: -304px;
    } 
    
    #natureCivilisationOverlay img{
        top: -609px;
    }

    /* Submit/Reset buttons */
    #submit-button, #reset-button{
        font-size:100%;
        width:100px;
    }

    #info-button{
        font-size:100%;
        width:130px; 
    }

    /* Win/lose screen */
    #win-message, #lose-message{
        top: -832px;
    }
}